{% extends "layout.html" %}

{% block title %}
Lisää uuden kirjaaan
{% endblock %}

{% block body %}
{% if session.admin == 1 %}
<h1>Lisää uuden kirjan</h1>
<form action="/add_book" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
        <label for="name">Kirjan nimi</label>
        <input type="text" name="name" id="name" required/> *
    </div>
    
    <div>
        <label for="author">Kirjoittaja</label>
        <input type="text" name="author" id="author" required/> *
    </div>

    <div>
      <label for="description">Kuvaus</label>
        <input type="text" name="description" id="description" required/> *
    </div>
    <div class="'genres">
      <label for="genres">Genre *</label>
      {% for genre in genres %}
        <input type="checkbox" name="genres" value={{ genre.id }}> {{ genre.name }}
    </div>
      {% endfor %}
      <div>
        <label for="cover">Cover</label>
        <input type="url" name="cover" id="cover" /> *
    </div>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button>
        Lisää kirjan
    </button>
</form>
<br>
kaikki rivit ovat pakollisia *
<br>
<br>

<form action='/add_book/add_genre' method="POST">
  <label>Jos et voinut löytää sopivan genreen, lisää uusi</label>
  <div>
    <label for="name">Genre</label>
    <input type="text" name="name" id="name" /> 
    <button>
      Lisää genre
  </button>
</div>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
{% endif %}
{% endblock %}
<!-- 
то что не может меня затискать
проигрывать и умирать в днд
запланированную игру не провести


что ты скрывал от родителей??? -->
