{% extends "layout.html" %}

{% block title %}
palaute
{% endblock %}

{% block body %}
<h3>Anna palautteen</h3>

<form action="/feedback" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="form-group col-6">
        <label for="feedback">palaute</label>
        <textarea id="feedback" name="feedback" rows="3" cols="30" required></textarea>
    </div>
  
    <button type='submit' class="btn btn-primary">
        Anna palaute
    </button>
</form>
{% endblock %}
