{% extends "layout.html" %}

{% block title %}
palaute
{% endblock %}

{% block body %}
<div class="container">
  <div class="text-center">
      <h3>Anna palautteen</h3>
  </div>
    <div class="text-center">
      <div class="text-center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <form action="/feedback" method="POST">
        
        <div class="text-center">
            <textarea id="feedback" name="feedback" rows="3" cols="30" required></textarea>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <button type='submit' class="btn btn-primary">
            Anna palaute
        </button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
