{% extends "layout.html" %}

{% block title %}
Kirjaläjä
{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      {% if session.admin == 1 %}
      <li class="nav-item">
        <a class="nav-link" href="/add_book">Lisää uuden kirjan</a>
      </li>
      {% endif %}
    </ul>
</nav>

<h2>Lisätyt kirjat</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/search" method="GET">
  <select name="search_option" id="option">
    <option value="name" selected>kirjan nimi</option>
    <option value="author">kirjailja</option>
  </select>
  <input type="text" name="search" id="search">
  <input type="submit" value="Etsi">
</form>

<br>

{% if books %}

  <ul>
      {% for book in books %}
        <li>

          <a href="/book/{{ book.id }}"> 
            {% if book.cover %}
            <img src="{{ book.cover }}" alt="{{ book.name }}" width="400" height="500">
            {% else %}
            <img src="../static/not_found.jpg" alt="{{ book.name }}" width="400" height="500">
            {% endif %}
          </a>,{{ book.author }}, {{ book.description }}
          <form action="/delete" method="POST">
            {% if session.admin == 1 %}
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" name="delete" value="{{ book.id }}">Poista</button>
            {% endif %}
          </form>

          <form action="/favourite_book" method="POST">
            {% if book.id in session.favourite_books %}
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" name="unfavourite" value="{{ book.id }}">♥</button>
            {% else %}
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" name="favourite" value="{{ book.id }}">♡</button>
            {% endif %}
          </form>
        </li>
      {% endfor %}
  </ul>

{% else %}
<ul>
    Ei vielä ole kirjoja
</ul>
{% endif %}


{% endblock %}