{% extends "layout.html" %}

{% block title %}
Kirjaläjä
{% endblock %}

{% block body %}


<div class="container">
  <div class="row">
    <div class="col-12">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        <form action="/search" method="GET">
            <select name="search_option" id="option">
              <option value="name" selected>kirjan nimi</option>
              <option value="author">kirjailija</option>
            </select>
            <input type="text" name="search" id="search" placeholder="Nimi, tekijä...">
          <button type="submit" class="btn btn-primary">etsi</button>



        </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="navbar-nav">
                {% for genre in genres %}
                  <div class="nav-item">
                    <a class="nav-link" href="/type/{{ genre.id }}/{{ genre.name }}">{{genre.name}}</a>
                  </div>
                {% endfor %}

                {% if session.user_id %}
                  <div class="nav-item">
                    <a class="nav-link" href="/type/0/favourites">favourites</a>
                  </div>
                {% endif %}
                </div>
          </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if books %}

      {% for book in books %}
        <div class="col-3">
          <a href="/book/{{ book.id }}"> 
            {% if book.cover %}
            <img src="{{ book.cover }}" alt="{{ book.name }}" width="200" height="300">
            {% else %}
            <img src="../static/not_found.jpg" alt="{{ book.name }}" width="200" height="300">
            {% endif %}
          </a>
          <div class="row">
            <div class="col-4">
              <p>{{ book.name }},</p>
              <p> <b>By: </b>{{ book.author }}</p>
            </div>
            <div class="form-group col-8">
              {% if session.admin == 1 %}
                <form action="/delete" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                  <button type="submit" name="delete" value="{{ book.id }}">✘</button>
                </form>
              {% endif %}
  
              <form action="/favourite_book" method="POST">
                {% if book.id in session.favourite_books %}
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" name="unfavourite" value="{{ book.id }}">♥</button>
                {% else %}
                  {% if session.user_id %}
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                  <button type="submit" name="favourite" value="{{ book.id }}">♡</button>
                  {% endif %}
                {% endif %}
              </form>
            </div>
          </div>



        </div>
      {% endfor %}

    {% else %}
        <p>Ei vielä ole kirjoja</p>
    {% endif %}
  </div>
</div>


{% endblock %}