<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Kirjaläjä</a>
        <ul class="navbar-nav">
          {% if session.user_id %}
            <li class="nav-item">
              <span class="navbar-text">Olet kirjautunut sisään</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">anna palaute</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Kirjaudu sisään</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Rekisteröidy</a>
            </li>
          {% endif %}
          {% if session.admin== 1 %}
            <li class="nav-item">
              <a class="nav-link" href="/add_book">Lisää uuden kirjan</a>
            </li>
          {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>