{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<div>
  <h3>Kirjaudu sisään</h3>
    
    <form action='/login' method="POST">

        <div class="form-group col-6">
            <label for="username">Käyttäjätunnus</label>
            <input type="text" name="username" id="username" required/>
          </div>

        <div class="form-group col-6">
          <label for="password">Salasana</label>
          <input type="password" name="password" id="password" required/>
        </div>

        <div class="form-group col-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>
</div>
<div class="form-group col-6">
  <label>Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a></label>
</div>


{% endblock %}